@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --lf-background: 0 0% 100%;
    --lf-foreground: 0 0% 3.9%;

    --lf-card: 0 0% 100%;
    --lf-card-foreground: 0 0% 3.9%;

    --lf-popover: 0 0% 100%;
    --lf-popover-foreground: 0 0% 3.9%;

    --lf-primary: 0 0% 9%;
    --lf-primary-foreground: 0 0% 98%;

    --lf-secondary: 0 0% 96.1%;
    --lf-secondary-foreground: 0 0% 9%;

    --lf-muted: 0 0% 96.1%;
    --lf-muted-foreground: 0 0% 45.1%;

    --lf-accent: 0 0% 96.1%;
    --lf-accent-foreground: 0 0% 9%;

    --lf-destructive: 0 84.2% 60.2%;
    --lf-destructive-foreground: 0 0% 98%;

    --lf-border: 0 0% 89.8%;
    --lf-input: 0 0% 89.8%;
    --lf-ring: 0 0% 3.9%;

    --lf-radius: 0.5rem;
  }

  .dark {
    --lf-background: 0 0% 3.9%;
    --lf-foreground: 0 0% 98%;

    --lf-card: 0 0% 3.9%;
    --lf-card-foreground: 0 0% 98%;

    --lf-popover: 0 0% 3.9%;
    --lf-popover-foreground: 0 0% 98%;

    --lf-primary: 0 0% 98%;
    --lf-primary-foreground: 0 0% 9%;

    --lf-secondary: 0 0% 14.9%;
    --lf-secondary-foreground: 0 0% 98%;

    --lf-muted: 0 0% 14.9%;
    --lf-muted-foreground: 0 0% 63.9%;

    --lf-accent: 0 0% 14.9%;
    --lf-accent-foreground: 0 0% 98%;

    --lf-destructive: 0 62.8% 30.6%;
    --lf-destructive-foreground: 0 0% 98%;

    --lf-border: 0 0% 14.9%;
    --lf-input: 0 0% 14.9%;
    --lf-ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply lf-border-border;
  }
  body {
    @apply lf-bg-background lf-text-foreground;
  }
}

@layer utilities {
  .DropdownPopoverContent {
    @apply lf-w-[var(--radix-popover-trigger-width)] lf-max-h-[var(--radix-popover-content-available-height)];
  }
}
