@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --lfui-background: 0 0% 100%;
    --lfui-foreground: 0 0% 3.9%;

    --lfui-lfui-card: 0 0% 100%;
    --lfui-lfui-card-foreground: 0 0% 3.9%;

    --lfui-popover: 0 0% 100%;
    --lfui-popover-foreground: 0 0% 3.9%;

    --lfui-primary: 0 0% 9%;
    --lfui-primary-foreground: 0 0% 98%;

    --lfui-secondary: 0 0% 96.1%;
    --lfui-secondary-foreground: 0 0% 9%;

    --lfui-muted: 0 0% 96.1%;
    --lfui-muted-foreground: 0 0% 45.1%;

    --lfui-accent: 0 0% 96.1%;
    --lfui-accent-foreground: 0 0% 9%;

    --lfui-destructive: 0 84.2% 60.2%;
    --lfui-destructive-foreground: 0 0% 98%;

    --lfui-border: 0 0% 89.8%;
    --lfui-input: 0 0% 89.8%;
    --lfui-ring: 0 0% 3.9%;

    --lfui-radius: 0.5rem;
  }

  .dark {
    --lfui-background: 0 0% 3.9%;
    --lfui-foreground: 0 0% 98%;

    --lfui-lfui-card: 0 0% 3.9%;
    --lfui-lfui-card-foreground: 0 0% 98%;

    --lfui-popover: 0 0% 3.9%;
    --lfui-popover-foreground: 0 0% 98%;

    --lfui-primary: 0 0% 98%;
    --lfui-primary-foreground: 0 0% 9%;

    --lfui-secondary: 0 0% 14.9%;
    --lfui-secondary-foreground: 0 0% 98%;

    --lfui-muted: 0 0% 14.9%;
    --lfui-muted-foreground: 0 0% 63.9%;

    --lfui-accent: 0 0% 14.9%;
    --lfui-accent-foreground: 0 0% 98%;

    --lfui-destructive: 0 62.8% 30.6%;
    --lfui-destructive-foreground: 0 0% 98%;

    --lfui-border: 0 0% 14.9%;
    --lfui-input: 0 0% 14.9%;
    --lfui-ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-lfui-border;
  }
  body {
    @apply bg-lfui-background text-lfui-foreground;
  }
}

@layer utilities {
  .DropdownPopoverContent {
    @apply w-[var(--radix-popover-trigger-width)] max-h-[var(--radix-popover-content-available-height)];
  }
}
